.calculator {
  margin: auto;
  height: 450px;
  width: 500px;
  border: solid black;
  padding: 15px;
  background-color: #05445e;
}
table {
  height: 460px;
  width: 500px;
}
button {
  height: 60px;
  width: 60px;
  background-color: #189ab4;
}
#add {
  height: 120px;
}
#input-data {
  height: 60px;
  width: 500px;
  background-color: #d4f1f4;
}
